$primary-bg-color: #131316;
$primary-text-color: #ffffff;
$secondary-text-color: #c1c1c1;
$tertiary-text-color: #8a8b93;
$primary-detail-color: #eb4c5b;
$secondary-detail-color: #000000;
$hover-color: #191922;

$container-px: 2rem;
$playlist-show-header-height: 290px;
$playlist-show-main-height: calc(100vh - $playlist-show-header-height);
$playlist-show-main-min-width: 550px;