@use "./partials/variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Noto Sans Thaana", sans-serif;
    body {
        height: 100vh;
        position: relative;
        cursor: default;
        color: $primary-text-color;
        background-color: $primary-bg-color;
        .ms_container {
            width: 100vw;
            padding: 0 $container-px;
        }
    }
}